.flaticon-arrow:before { content: "\f100"; }
.flaticon-arrow-back:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-arrows-1:before { content: "\f103"; }
.flaticon-arrows-10:before { content: "\f104"; }
.flaticon-arrows-11:before { content: "\f105"; }
.flaticon-arrows-2:before { content: "\f106"; }
.flaticon-arrows-3:before { content: "\f107"; }
.flaticon-arrows-4:before { content: "\f108"; }
.flaticon-arrows-5:before { content: "\f109"; }
.flaticon-arrows-6:before { content: "\f10a"; }
.flaticon-arrows-7:before { content: "\f10b"; }
.flaticon-arrows-8:before { content: "\f10c"; }
.flaticon-arrows-9:before { content: "\f10d"; }
.flaticon-avatar:before { content: "\f10e"; }
.flaticon-back-arrow:before { content: "\f10f"; }
.flaticon-black:before { content: "\f110"; }
.flaticon-building:before { content: "\f111"; }
.flaticon-business:before { content: "\f112"; }
.flaticon-cell-phone:before { content: "\f113"; }
.flaticon-check:before { content: "\f114"; }
.flaticon-circle:before { content: "\f115"; }
.flaticon-coins:before { content: "\f116"; }
.flaticon-computer:before { content: "\f117"; }
.flaticon-controls:before { content: "\f118"; }
.flaticon-cross:before { content: "\f119"; }
.flaticon-cross-1:before { content: "\f11a"; }
.flaticon-delivery-truck:before { content: "\f11b"; }
.flaticon-doctor-stethoscope:before { content: "\f11c"; }
.flaticon-down-arrow:before { content: "\f11d"; }
.flaticon-downloading:before { content: "\f11e"; }
.flaticon-draw:before { content: "\f11f"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f120"; }
.flaticon-first-aid-briefcase:before { content: "\f121"; }
.flaticon-first-aid-kit:before { content: "\f122"; }
.flaticon-garbage21:before { content: "\f123"; }
.flaticon-help-operator:before { content: "\f124"; }
.flaticon-hospital:before { content: "\f125"; }
.flaticon-hospital-1:before { content: "\f126"; }
.flaticon-info:before { content: "\f127"; }
.flaticon-info-1:before { content: "\f128"; }
.flaticon-interface:before { content: "\f129"; }
.flaticon-interface-1:before { content: "\f12a"; }
.flaticon-interface-2:before { content: "\f12b"; }
.flaticon-key-dark:before { content: "\f12c"; }
.flaticon-left-arrow:before { content: "\f12d"; }
.flaticon-like:before { content: "\f12e"; }
.flaticon-line:before { content: "\f12f"; }
.flaticon-locked:before { content: "\f130"; }
.flaticon-locked-padlock:before { content: "\f131"; }
.flaticon-login:before { content: "\f132"; }
.flaticon-logout:before { content: "\f133"; }
.flaticon-mastercard:before { content: "\f134"; }
.flaticon-medical-specialist:before { content: "\f135"; }
.flaticon-menu:before { content: "\f136"; }
.flaticon-menu-button:before { content: "\f137"; }
.flaticon-message:before { content: "\f138"; }
.flaticon-messages:before { content: "\f139"; }
.flaticon-money:before { content: "\f13a"; }
.flaticon-more:before { content: "\f13b"; }
.flaticon-more-1:before { content: "\f13c"; }
.flaticon-music:before { content: "\f13d"; }
.flaticon-musical-note:before { content: "\f13e"; }
.flaticon-note:before { content: "\f13f"; }
.flaticon-office:before { content: "\f140"; }
.flaticon-office-1:before { content: "\f141"; }
.flaticon-paper-plane:before { content: "\f142"; }
.flaticon-paperclip:before { content: "\f143"; }
.flaticon-phone-receiver:before { content: "\f144"; }
.flaticon-photo-camera:before { content: "\f145"; }
.flaticon-playlist:before { content: "\f146"; }
.flaticon-power:before { content: "\f147"; }
.flaticon-question:before { content: "\f148"; }
.flaticon-redo:before { content: "\f149"; }
.flaticon-redo-arrow:before { content: "\f14a"; }
.flaticon-right-arrow:before { content: "\f14b"; }
.flaticon-rubbish-bin:before { content: "\f14c"; }
.flaticon-screen:before { content: "\f14d"; }
.flaticon-settings:before { content: "\f14e"; }
.flaticon-shapes:before { content: "\f14f"; }
.flaticon-shiny-diamond:before { content: "\f150"; }
.flaticon-shopping-bag:before { content: "\f151"; }
.flaticon-shopping-cart:before { content: "\f152"; }
.flaticon-smartphone:before { content: "\f153"; }
.flaticon-social:before { content: "\f154"; }
.flaticon-social-1:before { content: "\f155"; }
.flaticon-sort:before { content: "\f156"; }
.flaticon-speech-bubble:before { content: "\f157"; }
.flaticon-square:before { content: "\f158"; }
.flaticon-squares:before { content: "\f159"; }
.flaticon-strength:before { content: "\f15a"; }
.flaticon-strength-1:before { content: "\f15b"; }
.flaticon-supermarket68:before { content: "\f15c"; }
.flaticon-swap:before { content: "\f15d"; }
.flaticon-symbol:before { content: "\f15e"; }
.flaticon-syringe:before { content: "\f15f"; }
.flaticon-system:before { content: "\f160"; }
.flaticon-tablet:before { content: "\f161"; }
.flaticon-technology:before { content: "\f162"; }
.flaticon-technology-1:before { content: "\f163"; }
.flaticon-telephone:before { content: "\f164"; }
.flaticon-telephone-1:before { content: "\f165"; }
.flaticon-telephone-2:before { content: "\f166"; }
.flaticon-time:before { content: "\f167"; }
.flaticon-tool:before { content: "\f168"; }
.flaticon-unlocked:before { content: "\f169"; }
.flaticon-user:before { content: "\f16a"; }
.flaticon-users:before { content: "\f16b"; }
.flaticon-users-1:before { content: "\f16c"; }
.flaticon-video-camera:before { content: "\f16d"; }
.flaticon-voice-announcer:before { content: "\f16e"; }
.flaticon-wallet:before { content: "\f16f"; }
.flaticon-web:before { content: "\f170"; }

    $font-Flaticon-arrow: "\f100";
    $font-Flaticon-arrow-back: "\f101";
    $font-Flaticon-arrows: "\f102";
    $font-Flaticon-arrows-1: "\f103";
    $font-Flaticon-arrows-10: "\f104";
    $font-Flaticon-arrows-11: "\f105";
    $font-Flaticon-arrows-2: "\f106";
    $font-Flaticon-arrows-3: "\f107";
    $font-Flaticon-arrows-4: "\f108";
    $font-Flaticon-arrows-5: "\f109";
    $font-Flaticon-arrows-6: "\f10a";
    $font-Flaticon-arrows-7: "\f10b";
    $font-Flaticon-arrows-8: "\f10c";
    $font-Flaticon-arrows-9: "\f10d";
    $font-Flaticon-avatar: "\f10e";
    $font-Flaticon-back-arrow: "\f10f";
    $font-Flaticon-black: "\f110";
    $font-Flaticon-building: "\f111";
    $font-Flaticon-business: "\f112";
    $font-Flaticon-cell-phone: "\f113";
    $font-Flaticon-check: "\f114";
    $font-Flaticon-circle: "\f115";
    $font-Flaticon-coins: "\f116";
    $font-Flaticon-computer: "\f117";
    $font-Flaticon-controls: "\f118";
    $font-Flaticon-cross: "\f119";
    $font-Flaticon-cross-1: "\f11a";
    $font-Flaticon-delivery-truck: "\f11b";
    $font-Flaticon-doctor-stethoscope: "\f11c";
    $font-Flaticon-down-arrow: "\f11d";
    $font-Flaticon-downloading: "\f11e";
    $font-Flaticon-draw: "\f11f";
    $font-Flaticon-facebook-placeholder-for-locate-places-on-maps: "\f120";
    $font-Flaticon-first-aid-briefcase: "\f121";
    $font-Flaticon-first-aid-kit: "\f122";
    $font-Flaticon-garbage21: "\f123";
    $font-Flaticon-help-operator: "\f124";
    $font-Flaticon-hospital: "\f125";
    $font-Flaticon-hospital-1: "\f126";
    $font-Flaticon-info: "\f127";
    $font-Flaticon-info-1: "\f128";
    $font-Flaticon-interface: "\f129";
    $font-Flaticon-interface-1: "\f12a";
    $font-Flaticon-interface-2: "\f12b";
    $font-Flaticon-key-dark: "\f12c";
    $font-Flaticon-left-arrow: "\f12d";
    $font-Flaticon-like: "\f12e";
    $font-Flaticon-line: "\f12f";
    $font-Flaticon-locked: "\f130";
    $font-Flaticon-locked-padlock: "\f131";
    $font-Flaticon-login: "\f132";
    $font-Flaticon-logout: "\f133";
    $font-Flaticon-mastercard: "\f134";
    $font-Flaticon-medical-specialist: "\f135";
    $font-Flaticon-menu: "\f136";
    $font-Flaticon-menu-button: "\f137";
    $font-Flaticon-message: "\f138";
    $font-Flaticon-messages: "\f139";
    $font-Flaticon-money: "\f13a";
    $font-Flaticon-more: "\f13b";
    $font-Flaticon-more-1: "\f13c";
    $font-Flaticon-music: "\f13d";
    $font-Flaticon-musical-note: "\f13e";
    $font-Flaticon-note: "\f13f";
    $font-Flaticon-office: "\f140";
    $font-Flaticon-office-1: "\f141";
    $font-Flaticon-paper-plane: "\f142";
    $font-Flaticon-paperclip: "\f143";
    $font-Flaticon-phone-receiver: "\f144";
    $font-Flaticon-photo-camera: "\f145";
    $font-Flaticon-playlist: "\f146";
    $font-Flaticon-power: "\f147";
    $font-Flaticon-question: "\f148";
    $font-Flaticon-redo: "\f149";
    $font-Flaticon-redo-arrow: "\f14a";
    $font-Flaticon-right-arrow: "\f14b";
    $font-Flaticon-rubbish-bin: "\f14c";
    $font-Flaticon-screen: "\f14d";
    $font-Flaticon-settings: "\f14e";
    $font-Flaticon-shapes: "\f14f";
    $font-Flaticon-shiny-diamond: "\f150";
    $font-Flaticon-shopping-bag: "\f151";
    $font-Flaticon-shopping-cart: "\f152";
    $font-Flaticon-smartphone: "\f153";
    $font-Flaticon-social: "\f154";
    $font-Flaticon-social-1: "\f155";
    $font-Flaticon-sort: "\f156";
    $font-Flaticon-speech-bubble: "\f157";
    $font-Flaticon-square: "\f158";
    $font-Flaticon-squares: "\f159";
    $font-Flaticon-strength: "\f15a";
    $font-Flaticon-strength-1: "\f15b";
    $font-Flaticon-supermarket68: "\f15c";
    $font-Flaticon-swap: "\f15d";
    $font-Flaticon-symbol: "\f15e";
    $font-Flaticon-syringe: "\f15f";
    $font-Flaticon-system: "\f160";
    $font-Flaticon-tablet: "\f161";
    $font-Flaticon-technology: "\f162";
    $font-Flaticon-technology-1: "\f163";
    $font-Flaticon-telephone: "\f164";
    $font-Flaticon-telephone-1: "\f165";
    $font-Flaticon-telephone-2: "\f166";
    $font-Flaticon-time: "\f167";
    $font-Flaticon-tool: "\f168";
    $font-Flaticon-unlocked: "\f169";
    $font-Flaticon-user: "\f16a";
    $font-Flaticon-users: "\f16b";
    $font-Flaticon-users-1: "\f16c";
    $font-Flaticon-video-camera: "\f16d";
    $font-Flaticon-voice-announcer: "\f16e";
    $font-Flaticon-wallet: "\f16f";
    $font-Flaticon-web: "\f170";
